body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: rgb(68, 68, 68);
	padding: 0px 10px;
	background-color: #EEEEEE;
}

#warning {
	font-size: small;
	color: rgb(255, 0, 0);
}

.topnav {
	a {
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		color: blueviolet;
	}
	h1 {
		display: inline;
		margin: auto;
	}
	p {
		margin: auto;
		display: inline-block;
	}
}
/* Change the color of links on hover */
.topnav a:hover {
	//color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	color: black;
}